{{#partial "contnet"}}
    <h1>LET'S SAVE OUR WILDLIFE!</h1>
    <h2>YOUR OBSERVATION IS ALL THAT'S NEEDED</h2>
    <p>All you have to do as a Ranger is <strong>SPOT</strong>> an animal in Fir Forest, <strong>RECORD</strong>> its details and post them here. </p>
{{/partial}}
{{layout.hbs}}